@import '~bootstrap/scss/bootstrap';

.App {
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.logo {
  width: 120px;
}
