@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
$font-family-base: Montserrat;
@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,700);
$headings-font-family: Poppins;

$enable-grid-classes: false;
$primary: #9b59b6;
$secondary: #8e44ad;
$success: #2ecc71;
$danger: #e74c3c;
$info: #3498db;
$warning: #f1c40f;
$light: #ecf0f1;
$dark: #0d1316;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0.5rem;
$headings-font-weight: bold;
$border-radius: 0.5rem;
@import '~bootstrap/scss/bootstrap';

.correct {
  box-shadow: 0 0 0 0.25rem rgb(92 206 144 / 25%) !important;
}

.font-weight-bold {
  font-weight: 700 !important;
  font-size: 2rem;
}

.buttons-container {
  width: 215px !important;
}

.title {
  font-size: xx-large;
}

.text {
  font-size: larger;
}

.test-btn {
  width: 130px;
  height: 150px;
  font-size: large;
}

.word-count {
  font-size: 12px;
}

.word-card {
  width: 200px !important;
  height: 140px;
}
